

  :host(.green) {
    display: block;
    background-color: green;
  }

  :host(.yellow) {
    display: block;
    background-color: yellow;
  }

  :host {
    display: block;
    background-color: #e0ab65;
  }

  nav {
    display: flex;
    gap: 50px;
    padding: 10px;
    text-align: center;
  }

  a {
    text-decoration: none;
    color: #333;
  }

  a:hover {
          text-decoration: underline;
  }

  a.active {
    color: #007bff;
  }